body, html {
	height: 99%;
}
body {
	color: white;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}
canvas {
	border: 2px solid white;
}

#scoretable {
	visibility: hidden;
}

table {
	margin-top: 100px;
	z-index: 99;

	position: absolute;
	width: 200px;
	left: 50%;
	line-height: 20px;
	margin-left: -100px; /* half the width of your element*/

	top: 50%;
	margin-top: -120px; /* half of content height*/
}

th, td, tr {
	font-size: 1.1em;
	font-weight: normal;
	text-align: left;
	color: white;
	font-family: "Font";
}

th {
	border-bottom: 2px solid white;
}

.score {
	padding-right: 20px;
}

@font-face {
	font-family : "Font";
	src : url('../assets/font/gamefont/font.ttf') format('truetype');
	font-weight : normal;
	font-style : normal;
}